<script type="text/javascript">
$('#raven').append('<%= image_tag "raven.png", class: "raven" %>');
$('#raven').addClass('animated bounceInDown');
</script>
<%= form_for @ticket, html: {class: "form"}, remote: true do |f| %>
<h2>Ask a question</h2>
  <%= render 'layouts/errors', :object => @ticket %>
  <div class="form-group">
    <%= f.label :lessons %>
    <%= f.collection_select(:lesson_id, Lesson.all, :id, :name, multiple: true) %>
  </div>

  <div class="form-group">
    <%= f.text_field :question, class: "form-control" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <%= f.submit "Dispatch Raven!", class: "btn btn-lg btn-primary" %>
<% end %>
