<blockquote><%= @ticket.question %></blockquote>
<br>
<%= form_for @ticket, action: "update", remote: true do |f| %>
  <%= f.hidden_field :taken, :value => true %>
  <%= f.hidden_field :taken_at, :value => Time.new() %>
  <%= f.submit "Take Ticket", class: "btn btn-lg btn-primary" %>
<% end %>
<br>
<br>
<p>Asked at <%= @ticket.created_at.getlocal.strftime('%I:%M:%S %p') %></p>
<% if @ticket.taken_at %>
<p>Taken at <%= @ticket.taken_at.getlocal.strftime('%I:%M:%S %p') %></p>
<% end %>
<p><a href="<%= lesson_path(@ticket.lesson) %>"><span class="glyphicon glyphicon-list"></span> &nbsp;<%= @ticket.lesson.name %> (<%= @ticket.lesson.section %>)</a></p>
<p><a href="<%= user_path(@ticket.user) %>"><span class="glyphicon glyphicon-user"></span> &nbsp;<%= @ticket.user.name %></a></p>
