<blockquote><%= @ticket.question %></blockquote>
<br>
<p><a href="<%= lesson_path(@ticket.lesson) %>"><span class="glyphicon glyphicon-list"></span> &nbsp;<%= @ticket.lesson.name %> (<%= @ticket.lesson.section %>)</a></p>
<p><a href="<%= user_path(@ticket.user) %>"><span class="glyphicon glyphicon-user"></span> &nbsp;<%= @ticket.user.name %></a></p>
<%= link_to "Accept", accept_ticket_path, method: "patch", remote: true %>
<br>
<%= form_for @ticket, action: "update", remote: true do |f| %>
  <%= f.hidden_field :taken, :value => true %>
  <%= f.hidden_field :taken_at, :value => Time.new() %>
  <%= f.submit "Accept", class: "btn btn-lg btn-primary" %>
<% end %>
<%= form_for @ticket, action: "update", remote: true do |f| %>
  <%= f.hidden_field :done, :value => true %>
  <%= f.hidden_field :done_at, :value => Time.new() %>
  <%= f.submit "Done", class: "btn btn-lg btn-default" %>
<% end %>


<hr>
<div class="row text-center">
  <div class="col-md-4">
    <p>asked @</p>
    <p><%= @ticket.created_at.getlocal.strftime('%I:%M:%S %p') %></p>
  </div>
  <div class="col-md-4">
    <p>taken @</p>
    <% if @ticket.taken_at %>
    <p><%= @ticket.taken_at.getlocal.strftime('%I:%M:%S %p') %></p>
    <% end %>
  </div>
  <div class="col-md-4">
    <p>answered @</p>
    <% if @ticket.done_at %>
    <p><%= @ticket.done_at.getlocal.strftime('%I:%M:%S %p') %></p>
    <% end %>
  </div>
</div>
<hr>
