<blockquote><%= @ticket.question %></blockquote>
<br>
<%= form_for @ticket, remote: true do |f| %>
  <%= f.hidden_field :taken, :value => true %>
  <%= f.hidden_field :taken_at, :value => Time.now() %>
  <%= f.submit "Take Ticket", class: "btn btn-lg btn-primary" %>
<% end %>
<br>
<br>
<p>Asked at <%= @ticket.created_at.strftime('%I:%M:%S %p') %></p>
<p>Taken at <%= @ticket.taken_at.strftime('%I:%M:%S %p') %></p>
<p><%= link_to "#{@ticket.lesson.name} (#{@ticket.lesson.section})", lesson_path(@ticket.lesson) %></p>
<p><span class="glyphicon glyphicon-user"></span> &nbsp;<%= @ticket.user.name %></p>
