<blockquote><%= @ticket.question %></blockquote>
<p><%= @ticket.lesson.name %></p>
<p><%= @ticket.lesson.section %></p>
<p><%= @ticket.created_at.getlocal.strftime('%I:%M:%S %p') %></p>
<p><%= @ticket.user.name %></p>
