<div class="col-sm-12 col-md-10 col-md-offset-1">
  <h1 class="page-header"><%= @lesson.name %> &nbsp;<small><%= @lesson.section %></small></h1>
  <p class="lead"><%= link_to "View Lesson", @lesson.url %></p>
  <div class="row text-center">
    <div class="col-xs-6 col-sm-3">
      <h1><%= @lesson.tickets.count %></h1>
      <h4>Total Tickets</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h1>#</h1>
      <h4>Average Handle Time</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h1>#</h1>
      <h4>Average Wait Time</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h1>#</h1>
      <h4>Rank</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>
  <br><br>
  <h2 class="sub-header">Tickets</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>asked by</th>
          <th>wait time</th>
          <th>handle time</th>
          <th>date</th>
        </tr>
      </thead>
      <tbody>
        <% @lesson.tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.user.name %></td>
          <td>#</td>
          <td>#</td>
          <td><%= ticket.created_at.getlocal.strftime('%F') %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
